 {% extends "base.html" %}

{% block title%}Members Dashboard{% endblock %}

{% block content%}


 <div class="container">

        <section class="section dashboard">
        <div class="row">

          <!-- Left side columns -->
          <div class="col-lg-8">
            <div class="row">

              <!-- Sales Card -->
              <div class="col-xxl-4 col-md-6">
                <div class="card info-card sales-card">

                  <div class="card-body">
                    <h5 class="card-title">Sales <span>| Today</span></h5>
                    <div class="d-flex align-items-center">
                      <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                        <i class="bi bi-cart"></i>
                        </div>

        </section>
        </div>

      </section>

    </div>

{% endblock %}
